* {
  margin: 0; padding: 0
}

@font-face {
	font-family: "Open Sans";
  	src: url(fonts/OpenSans-Regular.woff);
  	font-weight: 400;
  	font-style: normal;
}

@font-face {
  	font-family: "Open Sans";
  	src: url(fonts/OpenSans-Bold.woff);
  	font-weight: 700;
  	font-style: normal;
}

html {
	font-size: 10px;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
}

.header {
	position: relative;

	width: 100%;

	background-color: #0a0e34;
	background-image: url("../images/football_767.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
}

.header::after, .footer::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: #0a0e34;
	opacity: 0.9;
}

.header-content, .footer-content {
	position: relative;
	z-index: 1;

	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	width: 28rem;
	min-height: 100vh;
	margin: auto;
}

.header-logo-container {
	padding-top: 3.3rem;
}

.logo-text {
	display: block;
	width: 13.3rem;
	height: 3.6rem;
	margin-left: auto;
	margin-right: auto;

	fill: #ffffff;
}

.header-title-container {
	padding-top: 6.9rem;
	padding-bottom: 2rem;
}

.header-title {
	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 1;

	color: #ffffff;
}

.header-title:nth-child(n+2) {
	padding-left: 4.4rem;
	padding-top: 2.5rem;
}

.header-apps {
	padding-bottom: 8.3rem;
}

.app-item {
	margin: 0 auto;

	border-radius: 1.7rem;
	background-color: #5e42b0;
	list-style-type: none;
}

.app-item:nth-child(n+2) {
	margin-top: 1.2rem;
}

.app-link {
	display: flex;
	padding: 0.6rem 0 0.6rem 8.2rem; 

	font-size: 0.8rem;

	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.app-logo {
	height: 2.8rem;
	margin-right: 0.7rem;

	fill: #ffffff;
}

.app-link-desc-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app-link-os-desc {
	font-weight: 700;
}

.athlets, .players {
	position: relative;
}

.athlets::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 8rem;
	left: 7rem;

	width: 192px;
	height: 281px;

	background-image: url("../images/footballer_192.png");
	background-position: center center;
	background-size: cover;
}

.athlets-title, .players-title {
	padding: 1.8rem 2rem 24.2rem;

	font-size: 5rem;
	font-weight: 700;
	line-height: 1;

	color: #e7e7e7;
}

.athlets-content, .players-content {
	padding: 5rem 2rem 5.3rem;
}

.athlets-content:nth-child(3n+2), .players-content:nth-child(3n+2) {
	padding-top: 7rem;
	background-color: #fafafa;
}

.athlets-content:nth-child(3n+3), .players-content:nth-child(3n+3) {
	background-color: #f5f4f9;
}

.athlets-content:nth-child(3n+4) {
	background-color: #5e42b0;
}

.athlets-subtitle-container, .players-subtitle-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.9rem;
}

.athlets-num-content, .players-num-content{
	position: relative;

	font-size: 1.4rem;
	font-weight: 700;

	color: #000000;
}

.athlets-num-content::after, .players-num-content::after {
	content: "";
	position: absolute;
	top: 2rem;
	left: 0;

	width: 1.6rem;
	height: 0.4rem;

	background-color: #5e42b0;
	border-radius: 0.1px;
}

.athlets-content:nth-child(3n+4) .athlets-num-content::after {
	background-color: #ffffff;
}

.athlets-subtitle, .players-subtitle {
	margin-left: 1rem;
	font-size: 2.3rem;
	font-weight: 700;
	letter-spacing: 0.1rem;

	color: #c1c1c1;
	text-transform: uppercase;
}

.athlets-desc, .players-desc {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	line-height: 1.8rem;

	color: #000000;
}

.athlets-content:nth-child(3n+4) .athlets-desc {
	color: #ffffff;
}

.players::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 8rem;
	left: 0.9rem;

	width: 302px;
	height: 248px;

	background-image: url("../images/basketballer_302.png");
	background-position: center center;
	background-size: cover;
}

.players-content:nth-child(3n+4) {
	background-color: #090c35;
}

.players-content:nth-child(3n+4) .players-num-content {
	color: #8765dd;
}

.players-content:nth-child(3n+4) .players-num-content::after {
	background-color: #ffffff;
}

.players-content:nth-child(3n+4) .players-desc {
	color: #ffffff;
}

.call-content {
	padding-bottom: 7.7rem;
}

.work-it-content {
	padding-bottom: 6.8rem;
}

.call-img-container {
	position: relative;
}

.call-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.call-num-container {
	position: absolute;
	left: 2rem;
	bottom: -0.8rem;

	display: flex;
	box-sizing: border-box;
	width: 7rem;
	height: 7rem;
	padding-top: 2.4rem;

	background-color: #5e42b0;
}

.call-num-content {
	margin-right: auto;
	margin-left: auto;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1rem;

	color: #f5f6f7;
}

.call-num-content::after {
	content: "";
	position: absolute;
	top: 4.3rem;
	left: 2.7rem;

	width: 1.6rem;
	height: 0.4rem;

	background-color: #ffffff;
	border-radius: 0.1rem;
	opacity: 0.3;
}

.call-title {
	padding: 2.7rem 2rem 1.9rem;

	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 1;

	color: #e7e7e7;
	text-transform: uppercase;
}

.call-desc {
	padding: 0 2rem;

	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 2rem;

	color: #000000;
}

.footer {
	position: relative;

	box-sizing: border-box;
	width: 100%;

	background-color: #0a0e34;
	background-image: url("../images/game_767.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
}

.logo-container {
	display: flex;
	width: 7.2rem;
	height: 7.4rem;
	margin: 9.9rem auto 4.9rem;

	fill: #ffffff;
	background: linear-gradient(to bottom, #7550d8, #51339e);
	border-radius: 1.5rem;
}

.logo {
	width: 6rem;
	margin: auto;
}

.footer-title-container {
	padding-bottom: 2.5rem;
}

.footer-title {
	font-size: 3.2rem;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.1rem;

	color: #ffffff;
	text-transform: uppercase;
}

.footer-subtitle {
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.08rem;

	color: #9b8ec1;
	text-transform: uppercase;
}

.footer-apps {
	padding-bottom: 3.5rem;
}

.footer-logo-container {
	padding-bottom: 1rem;
}

@media (orientation: landscape) and (max-width: 640px) {

	.header {
		background-image: url("../images/football_767.jpg");
	}

	.header-content, .footer-content {
		width: 42rem;
	}

	.header-logo-container {
		padding-top: 3.3rem;
	}

	.header-title-container {
		padding-top: 4rem;
		padding-bottom: 2.5rem;
	}

	.header-title:nth-child(n+2) {
		padding-left: 7.8rem;
		padding-top: 1.5rem;
	}

	.header-apps {
		padding-bottom: 4.3rem;
	}

	.apps-list {
			display: flex;
			margin: 0 auto;
			justify-content: center;
	}

	.app-item {
		width: 15.6rem;

		border-radius: 2.5rem;
	}

	.app-item:nth-child(n+2) {
		margin-top: 0;
		margin-left: 2rem;
	}

	.app-link {
		padding-left: 2.7rem;
	}

	.footer-content-container {
		display: flex;
		justify-content: center;
		align-items: center;

		padding-top: 6.8rem;
		padding-bottom: 2.5rem;
	}

	.logo-container {
		margin: 0 1.1rem 0 0;
	}

	.footer-title-container {
		padding-bottom: 0;
	}

	.footer-apps {
		padding-bottom: 2.5rem;
	}

	.footer-logo-container {
		padding-bottom: 1.6rem;
	}
}

@media (min-width: 641px) {

	.apps-list {
		display: flex;
		margin: 0 auto;
		justify-content: center;
	}

	.app-item {
		width: 31.2rem;
		margin: 0 auto;

		border-radius: 3.8rem;
		filter: drop-shadow(8px 13.856px 12px #0a0e34);
	}

	.app-link {
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
	}

	.athlets-title, .players-title {
		font-size: 8rem;
	}

	.athlets-num-content, .players-num-content {
		font-size: 1.8rem;
	}

	.athlets-content:nth-child(3n+4) .athlets-num-content {
		color: #0a0e34;
	}

	.athlets-num-content::after, .players-num-content::after {
		top: 3rem;

		width: 2.1rem;
		height: 0.5rem;

		border-radius: 0.2rem;
	}

	.call-num-content {
		font-size: 2.4rem;
	}

	.call-title {
		font-size: 8rem;

		color: #c1c1c1;
		opacity: 0.4;
	}

	.call-desc {
		font-size: 2.4rem;
		line-height: 2.8rem;
	}

	.logo {
		width: 10.6rem;
	}
}

@media (min-width: 641px) and (max-width: 960px) {

	.header {
		background-image: url("../images/football_1280.jpg");
	}

	.header-content, .footer-content {
	  	min-height: 96rem;
		width: 70.4rem;
	}

	.header-logo-container {
		padding-top: 4rem;
	}

	.logo-text {
		width: 20.5rem;
		height: 5.6rem;
	}

	.header-title-container {
		padding-top: 6rem;
		padding-bottom: 19.8rem;
		padding-left: 5.7rem;
	}

	.header-title {
		font-size: 6.4rem;
		letter-spacing: 0.3rem;
	}

	.header-title:nth-child(n+2) {
		padding-left: 10.5rem;
		padding-top: 1.3rem;

		line-height: 7.3rem;
	}

	.header-apps {
		padding-bottom: 9rem;
	}

	.app-item:nth-child(n+2) {
		margin-top: 0;
		margin-left: 3rem;
	}

	.app-link {
		padding: 1.6rem 0 1.7rem 4.1rem; 

		font-weight: 300;
	}

	.app-logo {
		height: 4.5rem;
		margin-right: 2.8rem;
	}

	.athlets::after {
		top: 9.4rem;
		left: -16.2rem;

		width: 497px;
		height: 699px;

		background-image: url("../images/footballer_497.png");
	}

	.athlets-title {
		padding: 7.5rem 3.2rem 1.7rem 29.2rem;
	}

	.athlets-content {
		padding: 3.2rem 3.2rem 3.2rem 29.2rem;
	}

	.athlets-content:nth-child(3n+2) {
		padding-top: 2.4rem;
		background-color: #ffffff;
	}

	.athlets-subtitle-container, .players-subtitle-container {
		margin-bottom: 1.6rem;
	}

	.athlets-content:nth-child(3n+4) .athlets-num-content::after {
		background-color: #efefef;
	}

	.athlets-subtitle, .players-subtitle {
		margin-left: 1.2rem;
		font-size: 3.2rem;
		letter-spacing: 0.2rem;
	}

	.athlets-desc, .players-desc {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

	.players::after {
		top: 3.8rem;
		left: auto;
		right: 0;

		width: 436px;
		height: 565px;

		background-image: url("../images/basketballer_436.png");
	}

	.players-title {
		padding: 7.5rem 30.9rem 1.7rem 3.2rem;
	}

	.players-content {
		padding: 3.2rem 30.9rem 3.2rem 3.2rem;
	}

	.players-content:nth-child(3n+2) {
		padding-top: 2.4rem;
		background-color: #ffffff;
	}

	.players-content:nth-child(3n+4) .players-num-content::after {
		background-color: #efefef;
	}

	.call-content {
		padding-top: 6.3rem;
		padding-bottom: 10.4rem;
	}

	.be-active-content {
		padding-top: 7.7rem;
		padding-bottom: 8rem;
	}

	.work-it-content {
		padding-bottom: 11.6rem;
	}

	.call-num-container {
		left: 3.2rem;
		bottom: -2.4rem;

		width: 11.7rem;
		height: 11.7rem;
		padding-top: 3.2rem;
	}

	.call:first-child .call-num-container {
		bottom: -3.6rem;
	}

	.call-num-content::after {
		top: 7rem;
		left: 4.4rem;

		width: 2.8rem;
		height: 0.5rem;

		border-radius: 0.2rem;
	}

	.call-title {
		padding: 0 3.2rem 2.4rem;
	}

	.call-desc {
		padding: 0 3.2rem;
	}

	.footer {
		background-image: url("../images/game_1280.jpg");
	}

	.logo-container {
		width: 13rem;
		height: 13.7rem;
		margin: 12.6rem auto 5.6rem;

		border-radius: 3.5rem;
	}

	.footer-title-container {
		padding-bottom: 25.34rem;
	}

	.footer-title {
		font-size: 8rem;
		letter-spacing: 0.3rem;
	}

	.footer-subtitle {
		font-size: 3.6rem;
		line-height: 1;

		color: #a496ca;
	}
	
	.footer-logo-container {
		padding-bottom: 2.4rem;
	}
}

@media (min-width: 641px) and (max-width: 730px) {

	html {
		font-size: 9px;
	}

	.athlets::after {
		left: -20.2rem;
	}

	.players {
		overflow: hidden;
	}

	.players::after {
		top: 0.5rem;
		right: -5rem;	
	}
}

@media (min-width: 961px) {

	.header {
		background-image: url("../images/football_1920.jpg");
	}

	.header-content, .footer-content {
		width: 100%;
		max-width: 1920px;
		min-height: 768px;
	}

	.header-logo-container {
		padding-top: 4.5rem;
	}

	.logo-text {
		width: 19.1rem;
		height: 5.2rem;
	}

	.header-title-container {
		padding: 28.2rem 18.3rem 21rem;
	}

	.header-title {
		font-size: 9rem;
		letter-spacing: 0.5rem;
	}

	.header-title:nth-child(n+2) {
		padding-left: 29.4%;
		padding-top: 0;

		letter-spacing: 0.4rem;
	}

	.header-apps {
		padding-bottom: 10.9rem;
	}

	.app-item:nth-child(n+2) {
		margin-top: 0;
		margin-left: 5rem;
	}

	.app-link {
		padding: 1.5rem 0 1.4rem 3.8rem; 
	}

	.app-logo {
		height: 5rem;
		margin-right: 2.5rem;
	}

	.athlets::after {
		top: 2.7rem;
		left: auto;
		right: 50%;

		width: 566px;
		height: 908px;

		background-image: url("../images/footballer_566.png");
	}

	.athlets-title {
		padding: 10.5rem 19.2rem 3.2rem 52.5%;
	}

	.athlets-content {
		padding: 6rem 19.2rem 5.4rem 52.5%;
	}

	.athlets-content:nth-child(3n+2) {
		padding-top: 6rem;
		background-color: #ffffff;
	}

	.athlets-subtitle-container {
		margin-bottom: 2rem;
	}

	.athlets-content:nth-child(3n+4) .athlets-num-content::after {
		background-color: #efefef;
	}

	.athlets-subtitle, .players-subtitle {
		margin-left: 1.2rem;
		font-size: 3.6rem;
		letter-spacing: 0.2rem;
		line-height: 1;
	}

	.athlets-desc, .players-desc {
		font-size: 2rem;
		line-height: 2.8rem;
	}

	.players {
		overflow: hidden;
	}

	.players::after {
		top: 2.2rem;
		left: 41.875%;

		width: 991px;
		height: 815px;

		background-image: url("../images/basketballer_991.png");
	}

	.players-title {
		padding: 10.5rem 50% 3.2rem 18.5rem;
	}

	.players-content {
		padding: 6rem 50% 5.4rem 18.5rem;
	}

	.players-content:nth-child(3n+2) {
		padding-top: 6rem;
		background-color: #ffffff;
	}

	.players-subtitle-container {
		margin-bottom: 2rem;
		padding: 0.2 0 0.4rem 0.6rem;
	}

	.call {
		position: relative;

		display: flex;
		flex-wrap: wrap;
		max-width: 1920px;
		margin: 0 auto;
	}

	.call-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		box-sizing: border-box;
		padding: 8rem 10% 6rem 12.6rem;
	}

	.call:nth-child(2n+2) .call-content {
		padding-left: 10%;
		padding-right: 12.6rem;
	}

	.call-img-container {
		position: static;
		width: 50%;
	}

	.call:nth-child(2n+2) .call-img-container {
		order: 1;
	}

	.call-num-container {
		left: calc( 50% - 168px / 2);
		bottom: 50%;

		width: 16.8rem;
		height: 15.5rem;
		padding-top: 5.5rem;
	}
	
	.call-num-content::after {
		top: 8.9rem;
		left: 7rem;

		width: 2.6rem;
		height: 0.5rem;

		border-radius: 0.2rem;
	}

	.call-title {
		padding: 0 0 10rem;
	}

	.call-desc {
		padding: 0;
	}

	.footer {
		background-image: url("../images/game_1920.jpg");
	}

	.footer-content-container {
		display: flex;
		justify-content: center;
		align-items: center;

		padding-top: 22.9rem;
		padding-bottom: 15.1rem;
	}

	.logo-container {
		width: 13rem;
		height: 13.7rem;
		margin: 0 3.7rem 0 0.6rem;

		border-radius: 3rem;
	}

	.footer-title-container {
		padding-bottom: 0;
	}

	.footer-title {
		margin-bottom: 1.6rem;

		font-size: 8rem;
		letter-spacing: 0.4rem;
		line-height: 1;
		text-align: left;
	}

	.footer-subtitle {
		font-size: 3rem;
		line-height: 1;
		text-align: left;

		color: #a496ca;
	}

	.footer-apps {
		padding-bottom: 26.2rem;
	}

	.footer-logo-container {
		padding-bottom: 5.2rem;
	}
}

@media (min-width: 961px) and (max-width: 1280px) {

	html {
		font-size: 7.5px;
	}

	.athlets::after {
		right: 50%;

		width: 497px;
		height: 699px;

		background-image: url("../images/footballer_497.png");
	}

	.players::after {
		left: auto;
		right: 0;

		width: 436px;
		height: 565px;

		background-image: url("../images/basketballer_436.png");
	}
}

@media (min-width: 961px) and (max-width: 1919px) {

	.header-title-container {
		padding-top: 11.2rem;
		padding-bottom: 8.4rem;
	}

	.footer-content-container {
		padding-top: 18.3rem;
		padding-bottom: 7.6rem;
	}

	.footer-apps {
		padding-bottom: 13.1rem;
	}
}

